div {
  background-color: red;
  width: 65px;
  height: 65px;
  border: 1px solid black;
  margin-left: 2px
  background-clip: content-box;
}
.first {
  margin-top: 100px;
  margin-right: ; 100px;
  margin-bottom: 100px;
  margin-left: 10px;
  
}


