div {
  background-color: red;
  width: 65px;
  height: 65px;
  border: 1px solid black;
  margin-left: 2px
  background-clip: content-box;
}
#first{
  padding: 10px;
  margin-bottom: 62px;  

}
#second{
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 30px;  
  margin-bottom: 5%;
  padding-bottom: 30px;  
} 
#third{
  padding: 10px;
  margin-top: 10px;  
}background-color: red;
  width: 65px;
  height: 200px;
  border: 1px solid black;
  margin-left: 2px
  background-clip: content-box;
}



